html {
	font-family: font-family: 'Roboto', sans-serif;
}

#headline h1 {
    font-size: 49px;
}

#directionsBox h3 {
	font-size: 41px;
	margin-bottom: 13px;
	font-family: 'Julius Sans One', sans-serif;
}

.wrapper {
	background-image: url("../images/GreenBGWatermarked.png");
	filter: alpha(Opacity=90);
	width: 100%;
	padding-top: 22px;
	padding-bottom: 51px;
	padding-left: 104px;
	padding-right: 108px;
	/* border-radius: 34px; */
}

.jumbotron {
	border-radius: 175px;
	border: solid 5px rgba(0, 0, 0, 0.11);
}

.jumbotron p {
	font-size: 20px;
}


#headline {
	font-family: 'Julius Sans One', sans-serif;
	background-color: rgba(189, 243, 250, 0.8);
	text-align: center;
	font-size: 30px;
	justify-content: center;
	border: solid 2px floralwhite;
	border-radius: 6px;
	/* width: 84%; */
	margin-bottom: 25px;
	margin-top: -27px;
}

h2 {
	border-radius: 10px;
	padding: 5px 0;
	font-weight: 900;
}


/*#p1 {
	background-image: url("../images/glassSlide.png");
}*/

#directionsBox {
	background-color: rgba(59, 201, 244, 0.88);
	padding: 5px 20px 0px 18px;
	justify-content: center;
	border-radius: 10px;
	border: solid 6px floralwhite;
	border-top-left-radius: 56px;
	border-top-right-radius: 56px;
	margin-bottom: -6px;
	margin-top: -11px;
}

#random {
	padding: -9px 0 0 -23px;
	line-height: 1;
	padding-bottom: 10px;
}

#YouWin {
	font-size: 38px;
	color: green;
}

#YouLose {
	font-size: 35px;
	color: red;
}

#gemLine {
	display: inline;

}
#gembox {
	display: inline-flex;
	box-sizing: border-box;
	width: 100%;
	/* box-sizing: border-box; */
	/* padding-left: 100px; */
	justify-content: center;
	margin-top: -31px;
}

img {
	margin: 0;
	padding: 0;
	height: 150px;
}

#scoreBox {
	/*font-family: 'Julius Sans One', sans-serif;*/
	background-color: rgba(120, 229, 243, 0.64);
	/* text-align: center; */
	font-size: 24px;
	/* justify-content: flex-start; */
	border: solid 4px floralwhite;
	border-radius: 10px;
	border-bottom-left-radius: 56px;
	padding-left: 14px;
	margin: 10px 0;
	padding-top: 16px;
	padding-bottom: 22px;
	line-height: .77;
	color: rebeccapurple;
	margin-left: 2px;
	margin-right: -6px;
}

#numberWithText {
	/* font-family: 'Julius Sans One', sans-serif; */
	background-color: rgba(120, 229, 243, 0.64);
	/* text-align: center; */
	font-size: 64px;
	/* justify-content: flex-start; */
	border: solid 4px floralwhite;
	border-radius: 10px;
	border-bottom-right-radius: 56px;
	/* padding-left: 20px; */
	margin: 10px 0 10px -6px;
	/* font-weight: bold; */
	color: rebeccapurple;
	/* padding-top: 9px; */
	padding: 3px;
	margin-left: -4px;
}

#tinyText {
	font-size: 15px;
	color: rebeccapurple;
}

#counterBox {
	/*font-family: 'Julius Sans One', sans-serif;*/
	background-color: rgba(120, 229, 243, 0.64);
	/* text-align: center; */
	font-size: 24px;
	/* justify-content: flex-start; */
	border: solid 4px floralwhite;
	border-radius: 10px;
	border-bottom-left-radius: 54px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px 0;
	margin-right: -5px;
	color: rebeccapurple;
}

#countScore {
	line-height: 1;
	padding-bottom: 10px;
	font-size: 67px;
	color: rgba(194, 11, 11, 0.75);
	/* background-color: rgba(255, 192, 203, 0.63); */
}

#startBox {
	/*font-family: 'Julius Sans One', sans-serif;*/
	background-color: rgba(120, 229, 243, 0.64);
	/* text-align: center; */
	font-size: 45px;
	/* justify-content: flex-start; */
	border: solid 4px floralwhite;
	border-radius: 10px;
	border-bottom-right-radius: 54px;
	padding-right: 10px;
	padding-right: 10px;
	padding-bottom: 21px;
	margin: 10px 0;
	color: rebeccapurple;
	font-weight: 500;
	padding-top: 12px;
	margin-right: 2px;
	/* padding-left: 0px; */
	margin-left: -21px;
	cursor: pointer;
}

#startBox:hover {    
	-webkit-filter: brightness(80%);
	filter: brightness(80%); 
	background-color: #00BC6F;
}

#startBox:active {
/*  box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.gem {
	cursor: pointer;

}

#red img {
	height: 152px;
	width: 103px;
	padding-top: 18px;
	margin-right: -8px;
}

#red img:hover {    
	-webkit-filter: brightness(75%);
	filter: brightness(75%); 
}

#red img:active {
/*  box-shadow: 0 5px #666; */
  transform: translateY(4px);
}


#blue img {
	height: 145px;
	padding-top: 22px;
	padding-left: 9px;
	margin-right: -12px;
}

#blue img:hover {
	-webkit-filter: brightness(70%);
	filter: brightness(70%); 
}

#blue img:active {
/*  box-shadow: 0 5px #666; */
  	transform: translateY(4px);
}

#yellow img {
	height: 157px;
	padding-top: 8px;
	margin-right: -6px;
}

#yellow img:hover {
	-webkit-filter: brightness(80%);
	filter: brightness(80%); 
}

#yellow img:active {
/*  box-shadow: 0 5px #666; */
  	transform: translateY(4px);
}

#green img {
	height: 146px;
	width: 94px;
	padding-top: 23px;
	padding-left: -20px;
}

#green img:hover {
	-webkit-filter: brightness(70%);
	filter: brightness(70%);	
}

#green img:active {
/*  box-shadow: 0 5px #666; */
  	transform: translateY(4px);
}


